@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    --primary: hsl(32, 100%, 57%);
    --secondary: hsl(0, 0%, 93%);
    --transition-time: 400ms;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    color: rgb(34, 34, 34);
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.header,
.projects li,
.new-project,
.todo .summary {
    display: flex;
    align-items: center;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: min-content 1fr / 15rem 1fr;
    gap: 1px;
    background-color: black;
}

.header {
    grid-column: 1 / span 2;
    background-color: var(--primary);
    padding: 1rem;

    .logo-img {
        width: 3rem;
        margin-right: 1rem;
    }
}

.sidebar {
    background-color: var(--secondary);
    padding: 2rem;

    .projects li,
    .new-project {
        font-size: 1.1rem;
        padding: 0.5rem 0;
        cursor: pointer;
    }

    .projects li:hover {
        font-weight: bold;
    }

    .delete {
        margin-left: auto;
    }

    .projects li:hover .delete {
        display: inline-block;
    }

    .todo-count {
        border: 1px solid var(--primary);
        border-radius: 50%;
        display: grid;
        place-content: center;
        flex: 0 0 auto;
    }

    .todo-count,
    .new-project img {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 1rem;
    }
}

.main {
    padding: 2rem;
    background-color: white;
    min-width: 0;
}

.container {
    width: min(100%, 40rem);
    margin: 0 auto;
}

.todo {
    border-left: 2px solid transparent;
    padding: 0.5rem;

    &.high-priority {
        border-color: red;
    }

    &.medium-priority {
        border-color: orange;
    }

    &.low-priority {
        border-color: green;
    }

    &:hover {
        background-color: var(--secondary);

        .delete,
        .edit {
            display: inline-block;
        }
    }
}

.summary {
    gap: 0.5rem;
    line-height: normal;
    min-height: 1.5rem;
}

.name,
.todo .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit,
.delete {
    display: none;
}

.todo+.todo {
    border-top: 1px solid rgb(146, 146, 146);
}

.checkbox {
    flex: 0 0 1rem;
    height: 1rem;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 2px;
    cursor: pointer;

    &.checked {
        background-color: rgb(70, 70, 70);
    }
}

.checked~*:not(.edit):not(.delete) {
    opacity: 0.4;
}

.due-date {
    margin-left: auto;
    font-size: 0.85rem;
    color: rgb(66, 66, 66);
}

.edit,
.delete {
    cursor: pointer;
}

.details {
    margin-left: calc(1.5rem + 2px);
    font-size: 0.9rem;
}

.hidden {
    display: none;
}

.new-todo-button {
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-todo-button:hover {
    opacity: 1;
}

dialog {
    border: 1px solid black;
    padding: 0;
    width: min(100%, 40rem);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container {
        padding: 1rem;
    }

    #name,
    #title,
    #description,
    #due-date,
    .priority-buttons label {
        outline: 1px solid lightgray;
        padding: 0.5rem;
        border: none;
    }

    button {
        outline: 1px solid black;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
    }

}

.project.modal {}

.new-todo.modal {


    #title,
    #description {
        width: 100%;
        padding: 0.5rem;
        border: none;
        box-shadow: none;
        resize: none;
    }

    #description {
        font-size: 0.9rem;
        color: gray;
    }

    #description::placeholder {
        color: lightgray;
    }

    .form-bottom {
        margin-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    label[for="due-date"],
    legend {
        font-size: 0.9rem;
    }

    .priority-buttons {
        display: flex;
        border: none;
        padding: 0.4rem 0 0 0;
        margin: 0;
    }

    input[type="radio"] {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    .priority-buttons label {
        cursor: pointer;
        text-transform: uppercase;
    }

    #low+label:hover,
    #low:checked+label {
        background-color: rgba(0, 128, 0, 0.5);
    }

    #medium+label:hover,
    #medium:checked+label {
        background-color: rgba(255, 166, 0, 0.5);
    }

    #high+label:hover,
    #high:checked+label {
        background-color: rgba(255, 0, 0, 0.5);
    }

}

label {
    display: block;
    margin-bottom: 0.4rem;
}